.session_login {
    width: 100vw;
    height: 100vh;
    // background-color:var(--backgroundColor);
    display: flex;
    text-align: center;
    background-image: url(../../images/2002.i109.024.people-playing-board-games-isometric-set-Converted.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50rem;

    &__form_container_login {
        width: 33%;
        padding: 12px;
        height: 100vh;
        background-color: var(--divBackgroundColor);
        display: flex;
        flex-direction: column;
        justify-content: center;

        form {
            font-size: 1.5rem;

            h1 {
                font-family: 'Fredoka One', cursive;
            }

            height: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: space-around;

            input {
                font-family: 'Rubik', sans-serif;
                width: 70%;
                font-size: 20px;
                border-radius: 6px;
                line-height: 1.5;
                padding: 5px 10px;
                transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
                border: 2px solid #dee1e2;
                color: rgb(14, 14, 16);
                background: var(--backgroundColor);
                display: block;
                height: 3rem;

                &:hover {
                    border-color: #ccc;
                }

                &:focus {
                    outline: none;
                    border-color: #9147ff;
                    background: #fff;
                }
            }
        }
    }
}

.container {
    width: 30vw
}

.form_container_back_login {
    background-image: url("../../images/wave.svg");
    background-repeat: no-repeat;
    // background-position: 0;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0px;
    height: 100vw;
    width: 100vw;
    transform: rotate(90deg);
    z-index: -1;
    // transform-origin: top left;
    // transform: scaleY(-1) rotate(90deg);
}

@media only screen and (max-width : 768px) {
    .session_login {
        width: 100vw;
        height: 100vh;
        background-image: none;
        background-color: var(--divBackgroundColor);

        &__form_container_login {
            width: 100%;
            padding: 12px;
            height: 100vh;
            background-color: var(--divBackgroundColor);
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            form {
                font-size: 1.5rem;
                width: 100%;
    
                h1 {
                    font-family: 'Fredoka One', cursive;
                }
    
                height: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                justify-content: space-around;
    
                input {
                    font-family: 'Rubik', sans-serif;
                    width: 70%;
                    font-size: 20px;
                    border-radius: 6px;
                    line-height: 1.5;
                    padding: 5px 10px;
                    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
                    border: 2px solid #dee1e2;
                    color: rgb(14, 14, 16);
                    background: var(--backgroundColor);
                    display: block;
                    height: 3rem;
    
                    &:hover {
                        border-color: #ccc;
                    }
    
                    &:focus {
                        outline: none;
                        border-color: #9147ff;
                        background: #fff;
                    }
                }
            }
        }
    }

    .form_container_back_login {
        background-image: none;
    }

    .container {
        width: 100%
    }
}