.home {
    background-color: var(--backgroundColor);
    background-image: url("../../images/2002.i109.024.people-playing-board-games-isometric-set-Converted.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 50rem;
}